<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <title>Document</title>
</head>
<body>
    <!--<form action="" name="myform" novalidate>
        <div>
            <div ng-include = "'main.html'"></div>
            <div ng-include="'subject.html'"></div>
        </div>
    </form>-->
    
    <!--AngularJS AJAX-->
    <!--<h2>AngularJS AJAX</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Roll No</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="info in infos">
                <td>{{info.Name}}</td>
                <td>{{info.RollNo}}</td>
                <td>{{info.Percentage}}</td>
            </tr>
        </tbody>
    </table>-->

    
    
    <!--<div ng-controller="MyController">
        <table border="1" width="100%">
            <tr>
                <th ng-click="orderByMe('name')">Name</th>
                <th ng-click="orderByMe('country')">Country</th>
            </tr>
            <tr ng-repeat="x in names | orderBy: myOrderBy">
                <td>{{ x.name }}</td>
                <td>{{ x.country }}</td>
            </tr>
        </table>
        <ul>
            <li ng-repeat = "x in names">
                {{ x.name | myFormat}}
            </li>
        </ul>
    </div>
    
    <script>
        var myapp = angular.module("myapp", []);
        myapp.filter("myFormat", function(){
            return function(x){
                var i,c, txt = "";
                for(i=0; i<x.length; i++){
                    c = x[i];
                    if(i % 2 == 0){
                        c = c.toUpperCase();
                    }
                    txt += c;
                }
            }
        });
        myapp.controller("MyController", function($scope){
            $scope.names = [
                { name: "Joe", country: "Denmark"},
                { name: "Birgit", country: "Denmark"},
                { name: "Margareth", country: "England"},
                { name: "Mary", country: "England"},
                { name: "Jani", country: "Norway"},
                { name: "Hege", country: "Norway"},
                { name: "Kai", country: "Norway"},
                { name: "Carl", country: "Sweden"},
            ];
            $scope.orderByMe = function(x){
                $scope.myOrderBy = x;
            }    
        });
    </script>-->
    
    <div ng-app="myApp" ng-controller="myController">
        <p>The url of this page is: </p>
        <h1>{{content}}</h1>
        <h1>{{statusCode}}</h1>
        <h1>{{statusText}}</h1>
    </div>

    <script>
        var myApp = angular.module("myApp", []);
        myApp.controller("myController", function($scope, $http){
            $http.get("welcome.htm").then(function(response){
                $scope.content = response.data;
                $scope.statuscode = response.status;
                $scope.statustext = response.statusText;
            });
        });
    </script>

    <!-- Script -->
    <!--<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
    <!--<script src = "js/angular-master.js"></script>-->
      
</body>
</html>